html {
	box-sizing: border-box;
	font-family: sans-serif;
	line-height: 1.5;
	font-size: 16px;

}
*, *:before, *:after {
	box-sizing: inherit;
}

@import "blocks/containers";
@import "blocks/burger";
@import "blocks/page";
@import "blocks/main";
@import "blocks/logo";
@import "blocks/M-nav";
@import "blocks/main-nav";


//section-header
	.section-header {
		h1, h2, h3, h4, h5 {
			font-size: 38px;
			text-transform: uppercase;
		}
		@include md {
			h2, h3, h4, h5 {
			}
		}
		@include lg {
		}
	}

// ---- block light ----

	.dark-block {
		&, & a {
			color: white;
		}
	}
	.light-block {
		& {
			color: $color;
		}
		a {
			color: inherit;
		}
	}

// ---- btn ----
	.btn {
		display: block;
		height: 42px;
		line-height: 42px;
		border: 1px solid grey;
		border-radius: 0;
		transition: all .25s;
		// typo
			font-size: 16px;
			font-weight: bold;
			text-transform: uppercase;
			text-align: center;
			text-decoration: none;
		&:hover {
			transform: translateY(1px);
			box-shadow: 0 1px 3px 0px rgba(0,0,0,0.25);
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {

		}
	}
	.btn--M {
		width: 67px;
		height: 55px;
		img {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -49%);
		}
	}
	.btn--white {
		color: black !important;
		background-color: white;
		border: 0;
	}
	.btn--black {
		color: black;
		border-color: black;
	}
	.btn--red {
		color: white;
		font-size: 26px;
		background-color: $color;
	}
	.btn--card { color: orange }

// ---- header ----
	.header {
		&__contacsBlock {
			display: none;
		}
		&__main-nav {
			margin-top: 80px;
		}
		&__logo {
			top: 0;
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			&__burger {
				display: none;
				visibility: hidden;
			}
			&__logo {
				position: static;
			}
		}
	}

// ---- footer ----
	.footer {
		margin-top: 20px;
		border-top: 1px #eee solid;
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

// ---- map ----
	.map {
		position: relative;
		clear: both;
		&__contact-block {
			position: absolute;
			top: 59%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
		iframe {
			display: block;
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {

		}
	}

//keyframes
	@keyframes donut-spin {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}



// ---- callback ----
	.callback {
		input[type='text'],
		input[type='tel'],
		input[type='email'] {
			display: block;
			height: 30px;
			font-size: 16px;
			border: 1px grey solid;
			margin-bottom: 7px;
			padding-left: 5px;
		}
		&__no-spam {
			.verify.red {
				color: red;
			}
		}
		&__submit {
			width: 191px;
			background-color: gold;
			color: black;
			position: relative;
		}
		&__submit.proccess {
			&:after {
				display: inline-block;
				content: '';
				border: 3px solid rgba(255, 255, 255, 0.6);
				border-left-color: #2d3ca7;
				border-radius: 50%;
				width: 20px;
				height: 20px;
				animation: donut-spin 1.2s linear infinite;
			}
			&:after { // Pseudo position
				position: absolute;
				top: 28%;
				left: 7px;
			}
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

.white-popup {
	background-color: white;
  width: 450px;
  margin: 0 auto;
  padding: 40px 20px;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: auto;
}
.mfp-close-btn-in .mfp-close {
	font-size: 30px;
}


// sample page

.grid-sample-container {
	margin-top: 15px;
}
.card-sample-container {
	margin-top: 35px;
}

.simple-box {
	text-align: center;
	background-color: lightBlue;
	border: 1px grey solid;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
}
.sample-section {
	margin-top: 45px;
}

// ---- card ----
	.card {
		&__img {
			overflow: hidden;
			img {
				// width: 100%;
				height: 260px;
				backface-visibility: hidden;
				// object-fit: cover;
			}
		}
		&__name {
			font-size: 24px;
			font-weight: bold;
			margin-top: 10px;
		}
		&__more {
			margin-top: 25px;
		}
		//media stack
		@include rmax(468) {
			//
		}
		@include md {
			//
		}
		@include lg {
			//
		}
	}

.img-container {
	margin-bottom: 20px;
	img {
		width: 100%;

	}
}

.lazy {
	filter: blur(2px);
  transition: filter .4s ease, -webkit-filter .4s ease;
}
.lazy.loaded {
	filter: blur(0);

}
#success-popup {
	width: 420px;
	text-align: center;
	padding-bottom: 32px;
	font-size: 26px;
}
