$base-color:			#fff;
$second-color:			#fff;
$underline-color: 		#fff;
//$base-color-light:	#498df0;
//$text-grey: 			#676767;


$base-font: "font-name", sans-serif;
$base-font-size: 1rem;
$base-line-height: 1.4;
