<footer class="footer page__footer">

	<div class="temporary-block container-fluid" style="font-size: 22px; color: #888">
		This build was created by
		<a href="mailto:newyorrker@gmail.com">newyorrker</a>
		under inspiration of
		<a href="https://twitter.com/akella">akella's</a>
		<a href="https://www.npmjs.com/package/generator-man" target="_blank">generator-man</a>
	</div>

	<div class="display-none" style="display: none;">

		<div class="footer__logo">
			<div class="logo logo--footer">
				<!-- partial - logo -->
				{% include "partials/_logo.html" %}
				<!-- partial - logo -->
			</div>
		</div>

		<div class="footer__main-nav">
			<nav class="main-nav main-nav--footer">
				<ul class="main-nav__list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Page Sample</a></li>
					<li>
						<a href="#">Droped</a>
						<li class="M-nav__drop">
							<ul class="M-nav__sub">
								<li><a href="#">Home</a></li>
								<li><a href="#">Page Sample</a></li>
							</ul>
						</li>
					</li>
				</ul>
			</nav>
		</div>

		<div class="footer__fz">
			<p>Оставляя свои личные данные Вы принимаете <a href="/fz">условия Соглашения на обработку персональных данных.</a>
			</p>
		</div>

		<div class="footer__dev">
			<p>
				Разработка сайта <a href="#">Веб-студия58</a>
			</p>
		</div>
	</div>

</footer>