<header class="header page__header">

	<div class="container-fluid">
		<div class="header__burger header__M-button">
			<div id="btn" class="burger-btn closed btn--M">
				<span></span>
			</div>
		</div>
		<div class="header__logo">
				<!-- partial - logo -->
				{% include "partials/_logo.html" %}
				<!-- partial - logo -->
		</div>



		<div class="header__main-nav">
			<!-- partial - main-nav -->
			{% include "partials/_main-nav.html" %}
			<!-- partial - main-nav -->
		</div>

		<div class="header__M-nav">
			<!-- partial - M-nav -->
			{% include "partials/_M-nav.html" %}
			<!-- partial - M-nav -->
		</div>

		<div class="header__contacsBlock">
			<!-- partial - contactsBlock -->
			{% include "partials/_contactsBlock.html" %}
			<!-- partial - contactsBlock -->
		</div>
	</div>

</header>
